body {
    margin: 20px;
    font-family: Trebuchet MS;
    line-height: 28px;
    background: #111;
    color: beige;
    }

    .center {
        text-align: center;
        }

    .amarelo {
        color: yellow;
        }

    .laranja {
        color: orange;
        }

    .vermelho {
        color: red;
        }

    .branco {
        color: white;
        }

    h1 {
        font-size: 1.5rem;
        }

        h2 {
            font-size: 1.1rem;
            font-style: italic;
            font-weight: 200;
            }

            h3 {
                font-size: 1.1rem;
                }

                p {
                    font-size: 1.0rem;
                    }

    hr {
        margin: 20px 0px;
        }